body{
    background-color: lightsteelblue;
}

button{
    font-size: 16px;
    margin: 5px;
    background-color: chocolate;
    color: white;
    padding: 0.5% 0.5% 0.5% 0.5%;
    border-radius: 10px;
}
button:hover{
    background-color: coral;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
